<!DOCTYPE html>
<html>
<title>Quantum0.ru Site - Reference</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
</style>
<body class="w3-black"> 

<div class="w3-display-middle w3-animate-opacity w3-text-white">
	<div class="w3-card-4 w3-white">
		<header class="w3-container w3-light-green">
			<h3>Quantum0 - Some info</h3>
		</header>
		<div class="w3-padding">
		<h5>Привет!</h5>
		<p>
			Если ты читаешь этот текст, значит ты отсканировал QR-код у меня на аватарке, либо где-то ещё x3<br>
			Что я хотел бы сказать:<br>
			На данный момент у меня параллельно 2 работы. У меня практически нет свободного времени. Я довольно сильно устаю на основной работе
			а потом возвращаясь домой или задерживаясь до ночи на работе, сижу с подработкой, которая также отнимает достаточно много времени и
			сил. Этот текст я пишу ещё до работы и там и там одновременно, но предположу, что времени у меня осталось лишь на сон. Как многие знают,
			для меня довольно важно и ценно общение с людьми, но, скорее всего, у меня не будет оставаться времени даже ответить на сообщения, с
			учётом того, что на основной работе я уже походу словил выгорание и без подработки уже был совсем заёбанным замученным. Прошусь
			отнести с пониманием, если я не отвечаю на сообщения сутками. Так же попрошу не беспокоить зря и тем более время в ночное время суток,
			потому что нормальный сон для меня крайне необходим, чтоб выдержать всё это. Если я вам буду нужен для чего-либо, пожалуйста пишите мне в телеграм.
			Недоступен я буду примерно до сентября-октября, думаю, если не возьму отпуск на это время.<br>
			Кроме того, с учётом необходимости взаимодействия с людьми, но при этом недостатка последнего, буду благодарен всем, кто смог бы со мной встретиться днём на буднях,
			например во время обеденного перерыва. Да, времени будет довольно мало, всего час, но я не буду в это время занят чем-либо связанным с работой и буду очень рад увидеть друзей<br>
			UPD: На сообщения я скорее всего буду отвечать, кроме тех, что затрат эмоциональных и временных ресурсов. <br>
			Спасибо за понимание, всем добра~ <3
		</p></div>
		<a class="w3-button w3-block w3-dark-grey" href="tg://quantum0"><i class='fas fa-paper-plane'></i> Telegram</a>
	</div>
</div>

</body>
</html>
