<html><head><title>Meow</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
function show(phrase, who) {
  document.getElementById("meow").className = document.getElementById("meow").className.replace("w3-hide ", "");
}
setTimeout(show, 5000);
</script></head>
<body class="w3-black">
  <div class="w3-container">
	<div class="w3-display-middle w3-xlarge">
		<div id="meow" class="w3-hide w3-card-2 w3-padding-small w3-animate-top w3-black w3-border w3-border-gray w3-hover-border-red w3-round w3-center">
        	<h1 style="margin-left: 32px;margin-right: 32px;">Ммм.. Неа ;)</h1>
      	</div>
    </div>
  </div>
</body></html>