<!DOCTYPE html>
<html>
<title>Quantum0.ru Site - Reference</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
</style>
<body class="w3-black"> 

<div class="w3-display-middle w3-animate-opacity w3-text-white">
	<div class="w3-card-4 w3-white">
		<header class="w3-container w3-light-grey">
			<h3>Arbuz - Quantum0's Character</h3>
		</header>
		<img src="static/ref.jpg" alt="Reference" style="max-height:80vh;max-width:90vw;">
		<a class="w3-button w3-block w3-dark-grey" href="ref.jpg" download="ref.jpg"><i class='fas fa-download'></i> Download</a>
	</div>
</div>

</body>
</html>
